Header {
  margin: 1 0;
  text-style: bold;
}

Screen {
  align: center middle;
  background: $background 30%;
}

Label {
  padding: 0 1;
}

Horizontal {
  width: auto;
  height: auto;
}

.bold {
  text-style: bold;
}

.panel {
  padding: 1;
  border: solid #353535;
}

.bottom {
  height: auto;
  padding: 0;
}

.full-width {
  width: 100%;
  align: center middle;
}

.hidden {
    width: 0;
    height: 0;
}

.displayed {
    width: auto;
    height: auto;
}

PageBase {
  min-height: 100%;
  min-width: 100%;
}

Bar > .bar--indeterminate {
    color: $primary;
    background: $background;
}

Bar > .bar--bar {
    color: $primary;
    background: $primary 30%;
}
