TracklistWidget {
  background: transparent;
  scrollbar-color: $primary 0%;
  scrollbar-background: transparent;
  scrollbar-size-vertical: 1;
  scrollbar-size-horizontal: 1;
  padding-left: 1;
  border: solid #353535;
  margin: 0;
}
